.GameScoreboard-title {
  padding: 1rem 2rem;
  text-align: center;
}

.GameScoreboard-player {
  padding: 1rem 2rem;
  border-bottom: 2px solid #5c6671;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.GameScoreboard-player:first-child {
  border-top: 2px solid #5c6671;
}

.GameScoreboard-actions {
  text-align: center;
  padding: 1rem 2rem;
}
