.BasicLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
}

.BasicLayout-title {
  text-align: center;
}

.BasicLayout--left {
  text-align: left;
  max-width: 600px;
}
