.SuitPicker {
  display: grid;
  grid-template-columns: 160px 160px;
  grid-template-rows: 160px 160px;
  grid-gap: 1rem;
  justify-content: center;
}

.SuitPicker-item {
  border-radius: 16px;
  appearance: none;
  -webkit-appearance: none;
  font-family: 'Fredoka One', sans-serif;
  background-color: #4e565c;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 16px;
  border: none;
  transition: background-color 150ms ease-out;
  font-size: 24px;
}

.SuitPicker-item--selected {
  border: 2px solid red;
}
