* {
  box-sizing: border-box;
}

.App {
  background-color: #23272b;
  color: #fff;
  min-height: 100vh;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  min-height: 100vh;
}

.App-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3 {
  font-family: 'Fredoka One', sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;
}

h2:not(:first-child) {
  margin-top: 2.5rem;
}

p {
  margin-top: 0;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
}

form {
  width: 100%;
}

input {
  border: 3px solid #5c6671;
  border-radius: 16px;
  padding: 0.5rem 1rem;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

input:focus {
  border-color: #d75c37;
}

input[type='text'] {
  width: 100%;
}

.input-hint {
  font-size: 0.9rem;
}

.input-wrapper {
  margin-bottom: 1rem;
}

.input-wrapper input {
  margin-bottom: 0.5rem;
}
